/* CSS RESET */
/* Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* Remove default margin */
* {
  margin: 0;
}
body {
  /* Add accessible line-height */
  line-height: 1.5;
  /* Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

li {
  list-style: none;
}

li > a {
  text-decoration: none;
  color: #000000;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

body {
  min-height: 100vh;
}

/* HEADER */
header {
  max-height: 70px;
}
/* Logo */
header > figure{
  margin: 0;
}

header > figure > img{
  max-height: 40px;
}
/* Menu */
.menu > ul {
  display: flex;
  gap: 30px;
}
.searchbar {
  padding-right: 10px;
}
